<!-- <p>this is a create page</p> -->

<script>
    async function submitForm(oFormElement) {
        var response = await fetch(oFormElement.action, {
            method: oFormElement.method,
            credentials: 'same-origin',
            body: new FormData(oFormElement),
        });

        if (response.ok) {
            var data = await response.json();   // for res.ok() or res.json()
            alert(data);
            location.reload();
        } else {
            alert(response.statusText);
        }
    };

</script>

<form class="row" method="POST" role="form" action="/estate/create" onsubmit="submitForm(this);return false">
    <div class="col-12 col-md-6">
        <p style="font-size:30px; font-weight: bold;">Property Create form</p>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Propery title:</label>
            <input class="form-control" name="title" type="text" required>
        </div>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Estate:</label>
            <select name="estate" class="form-control" required>
                <option value="Festival City">Festival City</option>
                <option value="City One Shatin">City One Shatin</option>
                <option value="Tin Ma Court">Tin Ma Court</option>
            </select>
        </div>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Gross Area:</label>
            <input class="form-control" name="grossArea" type="number" required>
        </div>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Rent:</label>
            <input class="form-control" name="rent" type="number" required>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label style="display: block; font-size:20px;">imageURL:</label>
            <input class="form-control" name="imageURL" type="text">
        </div>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Bedrooms:</label>
            <input class="form-control" name="bedrooms" type="number" required>
        </div>
        <div class="form-group">
            <label style="display: block; font-size:20px;">Expected Tenants:</label>
            <input class="form-control" name="expectedTenants" type="number" required>
        </div>
        <div class="form-group">
            <input type="checkbox" value="dummy" name="highlighted"><span> Highlighted Property</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>