<!DOCTYPE html>
<html>

<head>
  <title>Real Estate Rental System</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
  <%/* <meta name="robots" content="noindex"> */%>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/customer.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/customer.css">

  <script>
    async function logout() {
      var r = confirm("Confirm Delete?");
      if (r) {
        var response = await fetch("/user/logout", {
          method: "POST",
          credentials: 'same-origin',
        });

        var data = await response.json();
        alert(data.message);
        window.location = data.url;
      }
    }

  </script>

</head>

<body>

  <% const session = req.session; %>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/estate/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/estate/search">Search</a>

          <% if(session.role == "admin"){ %>
            <a class="nav-item nav-link" href="/estate/create">Create</a>
            <a class="nav-item nav-link" href="/estate/admin">Admin</a>
          <% } %>

          <% if(session.role == "client"){ %>
          <a class="nav-item nav-link" href="/estate/clientState?userId=<%= session.userid %>">My Rentals</a>
          <% } %>

          <% if(!session.role){ %>
            <a class="nav-item nav-link active" href="/user/login">Login in</a>
          <% }else{ %>
            <p class="nav-item nav-link active">Hi <%= session.role %> <%= session.username %></p>
            <a class="nav-item nav-link active" href="" onclick="logout()"> (logout here) </a>
          <% } %>

        </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Real Estate Rental System</h1>
        <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flashare and finding
          roommates</p>
      </div>
    </div>

    <%- body %>
  </div>

  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/test.js"></script>
  <!--SCRIPTS END-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>